NET "start" LOC = N3;
NET "pause" LOC = E2;
//NET "daynight" LOC = F3;
NET "speed[2]" LOC = G3;
NET "speed[1]" LOC = B4;
NET "speed[0]" LOC = K3;
NET "leap" LOC = A7;
//NET "disp_ctrl" LOC = M4;
NET "clk_50MHz" LOC = B8;
NET "power_on" LOC = G1;
NET "sm_duan[0]" LOC = L14;
NET "sm_duan[1]" LOC = H12;
NET "sm_duan[2]" LOC = N14;
NET "sm_duan[3]" LOC = N11;
NET "sm_duan[4]" LOC = P12;
NET "sm_duan[5]" LOC = L13;
NET "sm_duan[6]" LOC = M12;
NET "sm_duan[7]" LOC = N13;
NET "sm_wei[3]" LOC = K14;
NET "sm_wei[2]" LOC = M13;
NET "sm_wei[1]" LOC = J12;
NET "sm_wei[0]" LOC = F12;