//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 15 22:23:55 2017
//! **************************************************************************

SCHEMATIC START;
COMP "sm_duan<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "sm_duan<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "sm_duan<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sm_duan<7>" LOCATE = SITE "N13" LEVEL 1;
COMP "pause" LOCATE = SITE "E2" LEVEL 1;
COMP "daynight" LOCATE = SITE "F3" LEVEL 1;
COMP "speed<0>" LOCATE = SITE "K3" LEVEL 1;
COMP "clk_50MHz" LOCATE = SITE "B8" LEVEL 1;
COMP "leap" LOCATE = SITE "A7" LEVEL 1;
COMP "speed<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "speed<2>" LOCATE = SITE "G3" LEVEL 1;
COMP "start" LOCATE = SITE "N3" LEVEL 1;
COMP "disp_ctrl" LOCATE = SITE "M4" LEVEL 1;
SCHEMATIC END;

