//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 13 11:02:22 2017
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "A<0>" LOCATE = SITE "F3" LEVEL 1;
COMP "led<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "A<1>" LOCATE = SITE "E2" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "led<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "EN" LOCATE = SITE "N3" LEVEL 1;
COMP "led<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "led<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "led<6>" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

