//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 13 10:13:08 2017
//! **************************************************************************

SCHEMATIC START;
COMP "SW0" LOCATE = SITE "P11" LEVEL 1;
COMP "SW1" LOCATE = SITE "L3" LEVEL 1;
COMP "SW2" LOCATE = SITE "K3" LEVEL 1;
COMP "SW3" LOCATE = SITE "B4" LEVEL 1;
COMP "SW4" LOCATE = SITE "G3" LEVEL 1;
COMP "SW5" LOCATE = SITE "F3" LEVEL 1;
COMP "SW6" LOCATE = SITE "E2" LEVEL 1;
COMP "SW7" LOCATE = SITE "N3" LEVEL 1;
COMP "LD3" LOCATE = SITE "G1" LEVEL 1;
COMP "LD4" LOCATE = SITE "P4" LEVEL 1;
COMP "LD5" LOCATE = SITE "N4" LEVEL 1;
COMP "LD6" LOCATE = SITE "N5" LEVEL 1;
COMP "LD7" LOCATE = SITE "P6" LEVEL 1;
SCHEMATIC END;

