NET "A" LOC = P11;
NET "B" LOC = L3;
NET "C" LOC = K3;
NET "D" LOC = B4;
NET "EN" LOC = N3;
NET "TR[0]" LOC = F3;
NET "TR[1]" LOC = E2;
NET "S[0]" LOC = F12;
NET "S[1]" LOC = J12;
NET "S[2]" Loc=C11;
NET "Y[0]" LOC = M12;
NET "Y[1]" LOC = L13;
NET "Y[2]" LOC = P12;
NET "Y[3]" LOC = N11;
NET "Y[4]" LOC = N14;
NET "Y[5]" LOC = H12;
NET "Y[6]" LOC = L14;

# PlanAhead Generated IO constraints 

NET "S[3]" IOSTANDARD = LVCMOS33;
NET "S[2]" IOSTANDARD = LVCMOS33;
NET "S[1]" IOSTANDARD = LVCMOS33;
NET "S[0]" IOSTANDARD = LVCMOS33;
NET "TR[1]" IOSTANDARD = LVCMOS33;
NET "TR[0]" IOSTANDARD = LVCMOS33;
NET "Y[6]" IOSTANDARD = LVCMOS33;
NET "Y[5]" IOSTANDARD = LVCMOS33;
NET "Y[4]" IOSTANDARD = LVCMOS33;
NET "Y[3]" IOSTANDARD = LVCMOS33;
NET "Y[2]" IOSTANDARD = LVCMOS33;
NET "Y[1]" IOSTANDARD = LVCMOS33;
NET "Y[0]" IOSTANDARD = LVCMOS33;
NET "A" IOSTANDARD = LVCMOS25;
NET "B" IOSTANDARD = LVCMOS25;
NET "C" IOSTANDARD = LVCMOS25;
NET "D" IOSTANDARD = LVCMOS25;
NET "EN" IOSTANDARD = LVCMOS25;

# PlanAhead Generated physical constraints 

NET "S[2]" LOC = M13;
NET "S[3]" LOC = K14;
