

NET "Y[0]" LOC = M12;
NET "Y[1]" LOC = L13;
NET "Y[2]" LOC = P12;
NET "Y[3]" LOC = N11;
NET "Y[4]" LOC = N14;
NET "Y[5]" LOC = H12;
NET "Y[6]" LOC = L14;


NET "Y[6]" IOSTANDARD = LVCMOS33;
NET "Y[5]" IOSTANDARD = LVCMOS33;
NET "Y[4]" IOSTANDARD = LVCMOS33;
NET "Y[3]" IOSTANDARD = LVCMOS33;
NET "Y[2]" IOSTANDARD = LVCMOS33;
NET "Y[1]" IOSTANDARD = LVCMOS33;
NET "Y[0]" IOSTANDARD = LVCMOS33;


NET "A" LOC = N3;
NET "B" LOC = E2;
NET "C" LOC = F3;
NET "D" LOC = G3;
NET "E" LOC = B4;
NET "F" LOC = K3;
NET "G" LOC = L3;
NET "H" LOC = P11;

# PlanAhead Generated IO constraints 

NET "A" IOSTANDARD = LVCMOS33;
NET "B" IOSTANDARD = LVCMOS33;
NET "C" IOSTANDARD = LVCMOS33;
NET "D" IOSTANDARD = LVCMOS33;
NET "E" IOSTANDARD = LVCMOS33;
NET "F" IOSTANDARD = LVCMOS33;
NET "G" IOSTANDARD = LVCMOS33;
NET "H" IOSTANDARD = LVCMOS33;
